<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex *ngIf="vProductos.length > 0">
    <mat-grid-list cols="4" rowHeight="300px">
      <mat-grid-tile
        class="productoCard"
        *ngFor="let elemento of vProductos"
        [routerLink]="['/detalleProducto', elemento.id]"
      >
        <img
          height="130px"
          width="120px"
          src="{{ BaseURL + elemento.imagen }}"
          alt="{{ elemento.nombre }}"
        />
        <mat-grid-tile-footer>
          <h1 mat-line>{{ elemento.nombre | uppercase }}</h1>
          <p mat-line>
            <span> {{ elemento.precio }} </span>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="vProductos.length > 0 || errorMensaje">
    <mat-spinner></mat-spinner>
    <h4>Cargando...</h4>
  </div>
  <div *ngIf="errorMensaje">
    <h2>Error</h2>
    <h4>{{ errorMensaje }}</h4>
  </div>
</div>
