<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Nosotros</h3>
      <hr />
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Nuestra Historia</h2>
        <p>
          Somos una empresa valenciana fundada en abril de 2001 para vender
          teléfonos móviles libres por Internet. Nacimos justo después de la
          burbuja de las .com para liberar a los usuarios de telefonía móvil de
          los móviles bloqueados por las operadoras, permitiendo que cualquier
          persona pudiera cambiar libremente de compañía ...
        </p>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h2>Personal</h2>
    <p>Mostrar el personal aquí</p>
  </div>
</div>
