<div [hidden]="producto.id !== -1 || errorMensaje">
  <mat-spinner></mat-spinner>
  <h4>Cargando...</h4>
</div>
<div *ngIf="errorMensaje">
  <h2>Error</h2>
  <h4>{{ errorMensaje }}</h4>
</div>
<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
  *ngIf="producto.id !== -1"
>
  <div fxFlex="40">
    <p>Detalles del producto</p>

    

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ producto.nombre | uppercase }}</h3>
          <img
            mat-card-image
            src="{{ BaseURL + producto.imagen }}"
            alt="{{ producto.nombre }}"
          />
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>{{ producto.nombre }}</p>
      </mat-card-content>
      <mat-card-content>
        <p>{{ producto.precio }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/detalleProducto', prev]">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button mat-button (click)="volver()">Volver</button>
        <button mat-button (click)="comprar(producto)">Comprar</button>
        <button mat-button [routerLink]="['/detalleProducto', post]">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <p>Comentarios acerca del producto</p>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ producto.nombre | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content *ngFor="let elemento of producto.comentarios">
        <span
          class="fa fa-star"
          [ngClass]="{ checked: elemento.estrellas >= 1 }"
        ></span>
        <span
          class="fa fa-star"
          [ngClass]="{ checked: elemento.estrellas >= 2 }"
        ></span>
        <span
          class="fa fa-star"
          [ngClass]="{ checked: elemento.estrellas >= 3 }"
        ></span>
        <span
          class="fa fa-star"
          [ngClass]="{ checked: elemento.estrellas >= 4 }"
        ></span>
        <span
          class="fa fa-star"
          [ngClass]="{ checked: elemento.estrellas >= 5 }"
        ></span>
        <p>{{ elemento.comentario }}</p>
        <p>{{ elemento.autor }}</p>
        <p>{{ elemento.fecha }}</p>
        <br />
      </mat-card-content>
    </mat-card>
  </div>
  <form novalidate fxLayout="column" [formGroup]="comentarioForm">
    <p>Nuevo Comentario</p>
    <div>
      <mat-form-field class="half-width">
        <input
          matInput
          formControlName="autor"
          placeholder="Autor"
          type="text"
          required
        />
        <mat-hint>
          <span [hidden]="!erroresForm.autor"> {{ erroresForm.autor }}</span>
        </mat-hint>
      </mat-form-field>

      <mat-slider
        min="1"
        max="5"
        step="1"
        thumbLabel
        tickInterval="1"
        formControlName="estrellas"
      ></mat-slider>
    </div>

    <mat-form-field class="full-width">
      <textarea
        matInput
        formControlName="comentario"
        placeholder="Tu Comentario"
        rows="12"
      ></textarea>
      <mat-hint>
        <span [hidden]="!erroresForm.comentario">
          {{ erroresForm.comentario }}</span
        >
      </mat-hint>
    </mat-form-field>

    <button
      [disabled]="comentarioForm.invalid"
      (click)="onSubmit()"
      type="button"
      mat-button
      class="background-primary text-floral-white"
    >
      Enviar
    </button>
  </form>
</div>
