* {
	font-family: Arial, serif;
	padding: 0;
	margin: 0
}

body {
	width: 5.8cm
}

@media print {
	@page {
		size: 5.8cm 15cm;
		margin: 0mm;
	}
}

.left {
	text-align: left
}

.center {
	text-align: center
}

.right {
	text-align: right
}

.f10 {
	font-size: 10px
}

.b {
	font-weight: 700
}

.line-height {
	line-height: 5px
}