*{
            font-family: Arial, serif;
        }

        body{
            max-width: 300px;
            border: 1px #f2f2f2 solid;
            padding: 2px;
        }
        .left{
            text-align: left;
        }
        .center{
            text-align: center;
        }
        .right{
            text-align: right;
        }
        .f10{
            font-size: 10px;
        }
        .b{
            font-weight: bold;
        }
        .line-height{
            line-height: 5px;
        }