<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <h1>Aquí encontrarás las ofertas de nuestra tienda.</h1>
  </div>
  <div fxFlex>
    <mat-grid-list cols="4" rowHeight="300px">
      <mat-grid-tile *ngFor="let elemento of productosOferta">
        <img
          height="130px"
          width="120px"
          src="{{ elemento.imagen }}"
          alt="{{ elemento.nombre }}"
        />
        <mat-grid-tile-footer>
          <h1 mat-line>{{ elemento.nombre | uppercase }}</h1>
          <p mat-line>
            <span> {{ elemento.precio }} </span>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
